:root {
    /* Colors */
    --color-text: #101720;
    --color-primary: #f1efe7;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /* Fonts */
    --font-roboto: "Roboto";
    --font-ariel: "Ariel";
}