:root {
    /* Colors */
    --color-text: #101720;
    --color-primary: #f1efe7;
    --color-secondary: #2f3c7e;
    --color-dark: #0b2447;
    --color-bg: #ec8161;

    /* Fonts */
    --font-roboto: "Roboto";
    --font-ariel: "Ariel";
}