@import '../../../../vars.css';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.title {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 0.5rem;
    width: 100%;
}

.day {
    border: solid;
    text-align: center;
}

.days {
    border: solid black 2px;
    border-radius: 8px;
    text-align: center;
    padding: 2px;
}