@import '../../../../vars.css';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--color-primary);
    color: var(--color-text);
    position: relative; /* was sticky previousy */
    top: 0;
    width: 100%;
    height: 14vh;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo:hover {
    cursor: pointer;
}

img {
    height: 85px;
}

.nav {
    height: 32px;
    width: 32px;
    border: solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

